// @import "./reset";
@import "./actual-reset";

:root {
  --purple: #a117e2;
}
#section-0jTiyF9dI,.hl_page-preview--content .col-Q0TnixvmS .inner,#row-i14qkvFn6Y,#col-Q0TnixvmS {
  background-color: white !important;
  padding: 0 !important;
  margin: 0 !important;
}
.custom-html {
  font-family: Roboto;
  .beside-form-block {
    color: white;
    h2 {
      font-size: 42px;
      font-weight: 900;
      line-height: 100%; /* 42px */
      text-transform: uppercase;
    }
    p {
      color: #e8e9eb;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      b {
        font-weight: 800;
      }
    }
    &__block {
      margin-top: 34px;
      padding: 30px 20px;
      border: 1px solid white;
      border-radius: 20px;
      h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 130%; /* 41.6px */
      }
      &__items {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
      }
    }
  }

  .p1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; /* 27px */
    &.center {
      text-align: center;
    }
  }

  .red-text {
    color: red;
  }

  .purple-text {
    color: var(--purple);
  }

  .img {
    width: 100%;
  }

  .container {
    width: 100%;
    max-width: 1098px;
    margin: auto;
  }

  .section {
    font-family: Roboto;
    color: black;
    padding: 60px 20px 0 20px;
    @media (max-width: 510px) {
      padding: 40px 20px 0 20px;
    }
    &.pad-bottom {
      padding-bottom: 60px;
      @media (max-width: 510px) {
        padding-bottom: 40px;
      }
    }
  }

  .section-plus {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 905px) {
        flex-direction: column;
      }
      &__img {
        width: 100%;
        max-width: 513px;
      }
      &__texts {
        width: 100%;
        max-width: 517px;
        h2 {
          font-size: 37px;
          font-weight: 900;
          line-height: 105%; /* 38.85px */
          text-transform: uppercase;
          margin-bottom: 19px;
          @media (max-width: 510px) {
            font-size: 28px;
          }
        }
        p {
          font-size: 21px;
          line-height: 130%; /* 27.3px */
          span {
            font-size: 31px;
            font-weight: 900;
          }
        }
      }
    }
  }

  .section-ready {
    h2 {
      background-color: #01bd39;
      text-align: center;
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      line-height: 130%;
      text-transform: uppercase;
      padding: 20px;
      b {
        font-weight: 900;
      }
    }
  }

  .section-invest {
    .p1 {
      text-align: center;
      max-width: 820px;
      margin: auto;
      b {
        font-weight: 800;
      }
      @media (max-width: 510px) {
        text-align: left;
      }
    }
  }

  .section-testimonials {
    h2 {
      color: #999;
      text-align: center;
      font-size: 40px;
      font-weight: 900;
      line-height: 110%; /* 44px */
      max-width: 820px;
      margin: auto;
      margin-bottom: 40px;
      @media (max-width: 510px) {
        font-size: 35px;
        margin-bottom: 20px;
      }
    }
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .testimonial-card {
      padding: 35px 20px;
      background-color: #f0f0f0;
      display: flex;
      flex-direction: column-reverse;
      gap: 13px;
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
    }
  }

  .section-gift {
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    background-color: black;
    color: white;
    text-align: center;
    h2 {
      font-size: 42px;
      font-weight: 500;
      line-height: 110%; /* 46.2px */
      @media (max-width: 510px) {
        font-size: 34px;
      }
    }
    h3 {
      width: fit-content;
      margin: auto;
      padding: 8px;
      background-color: var(--purple);
      font-size: 40px;
      font-weight: 400;
      line-height: 100%; /* 40px */
      text-transform: uppercase;
      b {
        font-weight: 900;
      }
    }
  }

  .section-strategies {
    .p1 {
      text-align: center;
      max-width: 900px;
      margin: auto;
      margin-bottom: 25px;
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
    }
    &__card {
      padding: 30px;
      background-color: #f0f0f0;
      border-radius: 20px;
      flex-basis: 350px;
      h3 {
        font-size: 24px;
        font-weight: 800;
        line-height: 140%; /* 33.6px */
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
      }
    }
  }

  .section-kits {
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
      @media (max-width: 889px) {
        flex-direction: column;
      }
    }
    &__kit {
      flex-basis: calc(50% - 40px);
      display: flex;
      flex-direction: column;
      gap: 20px;
      h3 {
        font-family: Roboto;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%; /* 36px */
        text-align: center;
      }
      &__included {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        line-height: 120%; /* 30px */
        padding: 19px 8px;
        background-color: #eff4f8;
        border-radius: 10px;
        b {
          font-weight: 800;
        }
      }
      h4 {
        color: var(--purple);
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        line-height: 120%; /* 30px */
      }
      &__p {
        color: #444;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%; /* 28px */
      }
    }
  }

  .section-sales {
    background-color: var(--purple);
    color: white;
    h2 {
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      line-height: 110%; /* 35.2px */
      margin-bottom: 10px;
    }
    h3 {
      text-align: center;
      font-size: 50px;
      font-weight: 900;
      line-height: 90%; /* 45px */
      max-width: 656px;
      margin: auto;
      margin-bottom: 30px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &__card {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      @media (max-width: 797px) {
        flex-direction: column;
      }
      &__img {
        width: 100%;
        max-width: 441px;
        @media (max-width: 797px) {
          max-width: none;
        }
      }
      &__content {
        width: 100%;
        max-width: 604px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 797px) {
          max-width: none;
        }
      }
      &__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        h4 {
          font-size: 30px;
          font-weight: 700;
          line-height: 120%; /* 36px */
        }
      }
      &__free-gift {
        color: #000;
        font-size: 25px;
        font-weight: 400;
        line-height: 120%;
        background-color: white;
        width: fit-content;
        padding: 19px 40px;
        border-radius: 10px;
        b {
          font-weight: 800;
        }
      }
      .p1 {
        strong {
          font-size: 26px;
          font-weight: 700;
        }
        b {
          font-weight: 700;
        }
      }
    }
  }

  .section-get-over {
    &__content {
      padding: 40px 20px;
      background-color: #f2f2f2;
    }
    &__content-wrapper {
      width: 100%;
      max-width: 851px;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: 889px) {
        gap: 20px;
      }
    }
    h3 {
      text-align: center;
      font-size: 42px;
      font-weight: 900;
      line-height: 90%; /* 37.8px */
    }
    &__items {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #d1d1d1;
      @media (max-width: 544px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
        &.red-text {
          font-weight: 400;
        }
      }
    }
    h4 {
      color: #30c652;
      text-align: center;
      font-size: 50px;
      font-weight: 900;
      line-height: 90%; /* 45px */
    }
  }

  .section-guarantee {
    &__title {
      color: #2f2f2f;
      text-align: center;
      font-size: 32.008px;
      font-style: italic;
      font-weight: 600;
      line-height: 47.6px; /* 148.714% */
    }
    h2 {
      color: #2f2f2f;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 62.4px; /* 130% */
      max-width: 755px;
      margin: auto;
      margin-bottom: 30px;
      span {
        font-size: 59px;
        text-decoration-line: underline;
        background-color: #fdfccb;
      }
    }
    &__guarantees {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      @media (max-width: 883px) {
        flex-direction: column;
      }
    }
    &__guarantee {
      width: 100%;
      padding: 30px;
      background-color: #f0f0f0;
      border-radius: 15px;
      h3 {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%; /* 36px */
        background-color: var(--purple);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
      }
      h4 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 700;
        line-height: 120%; /* 36px */
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        b {
          font-weight: 700;
        }
      }
    }
  }

  .purple-box-image {
    width: 100%;
    max-width: 923px;
    margin: auto;
    margin-bottom: -220px;
    @media (max-width: 545px) {
      margin-bottom: 8px;
    }
  }
  .purple-box {
    background-color: var(--purple);
    padding: 40px 20px;
    padding-top: 228px;
    color: white;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 25px;
    @media (max-width: 545px) {
      padding: 20px;
    }
    &.no-margin {
      margin: 0;
    }
    &.no-radius-bottom {
      border-radius: 20px 20px 0 0;
    }
    h2 {
      max-width: 811px;
      margin: auto;
      font-size: 34px;
      font-weight: 400;
      line-height: 110%;
      b {
        font-size: 43.03px;
        font-weight: 900;
        line-height: 110%; /* 47.333px */
      }
    }
  }

  .gray-box {
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #eff4f8;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &.white {
      background-color: white;
    }
    h4 {
      color: #000;
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      line-height: 120%; /* 30px */
    }
    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      svg {
        flex-shrink: 0;
      }
      p {
        text-align: left;
        color: #444;
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        b {
          font-weight: 800;
        }
      }
    }
  }

  .h1 {
    text-align: center;
    // font-family: "Bebas Kai";
    font-size: 68px;
    font-weight: 700;
    line-height: 120%; /* 57.857% */
    @media (max-width: 889px) {
      font-size: 45px;
    }
  }

  .button-i-want {
    display: block;
    padding: 40px 20px;
    background-color: #30c652;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    transition: 0.2s;
    &.margin-top {
      margin-top: 30px;
    }
    &:hover {
      background-color: var(--purple);
    }
    &__title {
      color: #fff;
      font-size: 33.03px;
      font-weight: 900;
      line-height: 110%; /* 36.333px */
      margin-bottom: 8px;
    }
  }

  .swiper-arrow {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      filter: invert(1);
    }
  }
}
